.search-box-container {
    position: relative;
}

.search-box {
    width: 50%;
    border-radius: 30px;
    border: 1px solid rgb(0 0 0 / 4%);
    box-shadow: 0 0 7px 2px rgb(59 128 232 / 8%);
    padding: 20px;
    margin: 20px auto;
    display: flex;
    font-size: 17px;
    color: #0000007a;
    outline: none;
}

ul.lists {
    position: absolute;
    background: #fff;
    z-index: 9;
    top: 65px;
    list-style-type: none;
    width: 45%;
    border: 1px solid rgb(0 0 0 / 4%);
    border-radius: 7px;
    box-shadow: 0 0 7px 2px rgb(59 128 232 / 8%);
    margin: auto;
    left: 0;
    right: 0;
    padding: 5px 20px;
}

.lists li {
    font-size: 15px;
    cursor: pointer;
    padding: 5px;
    color: #444;
}
.lists li:hover {
    background: rgb(0 0 0 / 2%);
    border-radius: 5px;
}